#sider{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex:1;
}

#loading{
  width:100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-color: rgba(12,24,12,.2);
  top:0%;
  left:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}
#loading.hide-loading{
  display: none;
}
@keyframes out1{
  0{
    r:20;
    transform: translateX(0)
  }
  25%{
     r:25;
    transform: translateX(25%)
  }
  50%{
    r:20;
    transform: translateX(50%)
  }
  75%{
     r:15;
     transform: translateX(25%)
  }
  100%{
    r:20;
    transform: translateX(0%)
  }
}

@keyframes out3{
  0{
    r:20;
    transform: translateX(0)
  }
  25%{
    r:15;
    transform: translateX(-25%)
  }
  50%{
    r:20;
    transform: translateX(-50%)
  }
  75%{
    r:25;
    transform: translateX(-25%)
  }
  100%{
    r:20;
    transform: translateX(0%)
  }
}
#out-1{
  fill:#0ff;
  animation:  2s linear  infinite out1 ;
}
#out-3{
  fill:#f00;
  animation:  2s linear  infinite out3 ;
}
.mannul-pannel{
  width: 100%
}
.hide-pannel{
  display: none;
}
.mannul-step-button>div,.mannul-step-button>button,.mannul-step-button>p{
  text-align: center;
  display: block;
  max-width: 200px;
  margin: 10px auto ;
}
.mannul-step-button>button{

}
#file-input-button-1,#file-input-button-2{
  padding: 2px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  border: dotted 2px #aaa;
}
#file-input-button-1:hover, #file-input-button-2:hover{
  border-color: #444;
}

@keyframes rotateLoading{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
img#loading-icon{
  display: block;
  width:20px;
  height: 20px;
  animation: 1s linear 0s infinite rotateLoading;
}
.strong-span{
  padding: 3px;
  background-color: #eee;
  color:rgb(228, 74, 74);
  border-radius: 4px;
}
.strong-div{
  padding: 3px;
  border-style: solid;
  border-width: .5px;
  border-color: #ccc;
  color:rgb(31, 114, 161);
  border-radius: 4px;
}

#operation-mode-pannel{
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
#switch-background[class='mannul']{
  fill: #ccc;
  transition: fill .2s;
}
#switch-background[class='auto']{
  fill: #296;
  transition: fill .2s;
}
#mode-handle[class='auto']{
  cx: 22;
  cy: 21;
  transition: cx .2s;
}
#mode-handle[class='mannul']{
  cx: 42;
  cy: 21;
  transition: cx .2s;
}
#auto-pannel-set-form{
  padding: 10px;
}
