#sider{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex:1;
}
.mannul-pannel{
  width: 100%
}
.hide-pannel{
  display: none;
}
.mannul-step-button>div,.mannul-step-button>button,.mannul-step-button>p{
  text-align: center;
  display: block;
  max-width: 200px;
  margin: 10px auto ;
}
.mannul-step-button>button{

}
#file-input-button-1,#file-input-button-2{
  padding: 2px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  border: dotted 2px #aaa;
}
#file-input-button-1:hover, #file-input-button-2:hover{
  background-color: #eee;
}

@keyframes rotateLoading{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
img#loading-icon{
  display: block;
  width:20px;
  height: 20px;
  animation: 1s linear 0s infinite rotateLoading;
}
.strong-span{
  padding: 3px;
  background-color: #eee;
  color:rgb(228, 74, 74);
  border-radius: 4px;
}
.strong-div{
  padding: 3px;
  border-style: solid;
  border-width: .5px;
  border-color: #ccc;
  color:rgb(31, 114, 161);
  border-radius: 4px;
}

#operation-mode-pannel{
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
#switch-background[class='mannul']{
  fill: #ccc;
  transition: fill .2s;
}
#switch-background[class='auto']{
  fill: #296;
  transition: fill .2s;
}
#mode-handle[class='auto']{
  cx: 22;
  cy: 21;
  transition: cx .2s;
}
#mode-handle[class='mannul']{
  cx: 42;
  cy: 21;
  transition: cx .2s;
}
#auto-pannel-set-form{
  padding: 10px;
}